[submodule "AIAGENT"]
	path = AIAGENT
	url = https://github.com/pouyashaeri/AIAGENT.git
[submodule "LeetCodeMicroService/two_sum_api"]
	path = LeetCodeMicroService/two_sum_api
	url = https://github.com/pouyashaeri/two_sum_api.git
